/*impotando fontes do googlefonts*/
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Dancing+Script&display=swap');

/* configurações gerais*/

* {
    margin: 0;
    padding: 0;
    outline: 0;
    font-family: 'Bad Script', cursive;
}

/* altura do html em 100%*/     

html, body  {
    height: 100%;
}

/* menu nav-bar */

header {
    height: 120px;
    background: linear-gradient(90deg, plum, rgb(77, 55, 77));
    box-shadow: 8px 8px 12px #191a1a ;
    margin-top: 2px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 10px;
}    

/* alinhando itens do menu */

header .conteiner {
    height: 110px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: auto;
    font-size: 3rem;
}

/* Configurando botões do menu */

#btnmenu {
    cursor: pointer;
    margin: 5px;
    background: none;
    border: none;
    font-size: 2.0rem;
    color: aliceblue;
    text-shadow: 3px 3px 2px #191a1a;
    height: 50px;
    width: 100px;
    font-family: 'Dancing Script', cursive;
    transition-property: all;
    transition-duration: .5s;
}

/* Efeitos dos botões de menu */

#btnmenu:hover {
    background-color: rgb(77, 55, 77);
    transform: scale(110%);
    border-radius: 10px;
    transition-property: all;
    transition-duration: .5s;
}

/* Configurando Logo */

.logo a {
    margin-top: 10px;
    display: flex;
    text-decoration: none;
    font-family: 'Dancing Script', cursive;
    color: rgb(31, 13, 31);
    font-size: 4rem;
    text-shadow: 5px 5px 2px #03030396;
    transition-property: all;
    transition-duration: .5s;
}

/* Efeitos da logo */

.logo a:hover {
    text-shadow: none;
    color:rgb(214, 187, 214) ;
    font: linear-gradient(90deg, plum, rgb(77, 55, 77));
    transition-property: all;
    transition-duration: .5s;
}


/* responsividade do redimensionamento de tela */

@media(max-width: 1000px){
    html{
        font-size: 70%;
    }
}
@media(max-width: 700px){
    html {
        font-size: 60%;
    }
    .tratamentos h1, pre {
        color: aliceblue;
    }
}
@media(max-width: 550px){
    html {
        font-size: 0.5rem;
    }
}

/* Imagem da descrição*/

.decrição {
    position: relative;
    width: 800px;
    margin: auto;
    
}
.descrição img {
    margin-top: 100px;
    margin-left: 100px;
    width: 80%;
    border-radius: 10px;
    box-shadow: 10px 10px 15px;
}
.textodisc1 {
    position: absolute;
    top: 45%;
    left: 35%;
    text-align: center;
    font-size: 3rem;
    color: rgb(77, 55, 77);
}
.textodisc2 {
    position: absolute;
    top: 80%;
    left: 32%;
    text-align: center;
    font-size: 3rem;
    color: rgb(77, 55, 77);
}
.textodisc3 {
    position: absolute;
    top: 95%;
    left: 28%;
    text-align: center;
    font-size: 3rem;
    color: rgb(77, 55, 77);
}
hr {
    margin-top: 50px;
    color: black;
    border-width: 2px;
    margin-left: 20px;
    margin-right: 20px;

}

/* conteudo */

.cabeçalho h1 pre{
    height:150px;
    width: 900px;
    color: black;
    background-color: plum;
    font-size: 3rem;
    border-radius: 0px 20px 0px 0px;
}
.cabeçalho img {
    margin-top: 20px;
    margin-left: 110px;
    height: 360px;
    border-radius: 20px;
    box-shadow: 5px 5px 9px;
}
.cabeçalho pre {
    width: 900px;
    color: black;
    background-color:plum;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 0px 0px 0px 20px;
}
.cabeçalho a {
    color: black;
    text-decoration: none;
}
.cabeçalho {
    margin-left: 50px;
    margin-top: 30px;
    columns: 2;
}
.tratamentos pre{
    font-weight: 600;
    
    
}
.tratamentos img {
    margin-top: 20px;
    height: 480px;
    margin-left: -100px;
    border-radius: 20px;
    box-shadow: 10px 10px 15px;
}
.tratamentos h1 {
    text-align: center;
    margin-right: 200px;
}
.tratamentos {
    margin-left: 200px;
    height: 530px;
    columns: 2;
    margin-top: 50px;
    background: plum;
    border-radius: 0px 20px 0px 20px;
}

/* RODAPÉ */

footer {
    margin-top: 50px;
    background-color: #191a1a;
    padding: 30px 0;
    height: 200px;
   
}
.conteiner-footer {
    max-width: 100%;
    padding: 0 4%;
    margin: auto;
}
.row-footer {
    display: flex;
    
    
}
.footer-col {
    width: 25%;
    padding: 0 15px;
}
.footer-col h4 {
    font-size: 20px;
    color: white;
    margin-bottom: 20px;
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
}
.footer-col ul {
    list-style: none;
}
.footer-col ul li {
    margin: 10px 0;
}
.footer-col ul li a {
    text-decoration: none;
    color: aliceblue;
    text-transform: capitalize;
    font-weight: 300;
    display: block;
    transition:  all 0.5s ease;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.footer-col ul li a:hover {
    color:rgb(77, 55, 77);
    padding: 10px;
}
#midias-sociais a{
    color: azure;
    text-decoration: none;
    margin: 0 20px 2px 0;
    transition: all 0.5s ease;
}
#midias-sociais a:hover{
    color: rgb(77, 55, 77);
    padding: 10px;
}
.devs a pre {
    transition: all 0.5s ease;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 240, 245);
    text-decoration: none;
    font-size: 1.2rem;
}
.devs a {
    text-decoration: none;
    
} 
.devs a pre:hover {
    color: aqua;
    padding-top: 10px;
}